<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Automation Suite" verbose="1">
    <listeners>
        <listener class-name="com.vijaychavan.framework.listeners.AnnotationTransformer"/>
    </listeners>
    <test name="Selenium Functional Tests">
        <classes>
            <class name="com.vijaychavan.tests.LoginTest"/>
            <class name="com.vijaychavan.tests.ProductCatalogTest"/>
            <class name="com.vijaychavan.tests.CartCheckoutTest"/>
            <class name="com.vijaychavan.tests.JavaScriptDiscoveryTest"/>
        </classes>
    </test>
    <test name="Cucumber BDD Tests">
        <classes>
            <class name="com.vijaychavan.framework.runner.CucumberTestRunner"/>
        </classes>
    </test>
</suite>
