<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE suite SYSTEM \"http://testng.org/testng-current.dtd\">\n<suite name=\"Selenium Automation Suite\" parallel=\"methods\" thread-count=\"4\">\n    <parameter name=\"browser\" value=\"chrome\"/>\n    <parameter name=\"baseUrl\" value=\"https://www.saucedemo.com\"/>\n    \n    <test name=\"Smoke Tests\" parallel=\"methods\" thread-count=\"4\">\n        <groups>\n            <run>\n                <include name=\"smoke\"/>\n            </run>\n        </groups>\n        <packages>\n            <package name=\"com.vijay.automation.steps.*\"/>\n        </packages>\n    </test>\n</suite>\n"